@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/ProximaNova.woff2");
}
@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/ProximaNovaBold.woff2");
	font-weight: bold;
}

* {
	font-family: "Proxima Nova";
}