@import url(https://fonts.googleapis.com/css?family=Exo+2);

h1 {
	font-size: 75px;
}
::-webkit-input-placeholder {
	color: #999999;
}

:-moz-placeholder { /* Firefox 18- */
	color: #999999;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #999999;
}

:-ms-input-placeholder {
	color: #999999;
}
.intro {
	text-align: center;
}
.column {
	max-width: 450px;
}

body {
	background-color: #F0F0F0;
}
.ui.menu .item img.logo {
	margin-right: 1.5em;
}
.main.container {
	margin-top: 7em;
}
.wireframe {
	margin-top: 2em;
}
.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}
h1 {
	color: #62AC5B;
	font-family: "Exo 2";
}
h2 {
	color: #226C1B;
}
li {
	transition-duration: 0.5s;
}
li:hover {
	background-color: #0066cc;
}
tr {
	transition-duration: 0.5s;
}
tr:hover {
	background-color: #DDDDDD;
}
li a, .navbar-brand {
	color: white !important;
}
table {
	color: #226C1B;
}
/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #62AC5B;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #29d257;
    outline: 0 none;
}*/
