<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#FA6900">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="EasyCTF is a national, online, high school hacking competition run by students. EasyCTF aims to open the door to computer science and cybersecurity for students all around the country.">
<meta name="keywords" content="ctf, capture the flag, competition, high school, hacking, students, teachers, computers, computer science, education, flag, capture, school, cryptography, web, forensics, steganography">
<meta name="subject" content="Computer Science Education">
<meta name="copyright" content="EasyCTF Team">
<meta name="language" content="EN">
<meta name="robots" content="Index, NoFollow">
<meta name="revised" content="Monday, December 21st, 2015, 21:00">
<meta name="abstract" content="Online capture the flag competition for high school students">
<meta name="topic" content="Computer Science Education">
<meta name="summary" content="Computer science education online hacking capture the flag competition for high school students">
<meta name="classification" content="Education">
<meta name="author" content="Thomas Gerot, Fox Wilson, Jared Zell, James Wang, Charles, Jacob Wood, Michael Zhang">
<meta name="designer" content="Thomas Gerot, Charles">
<meta name="reply-to" content="team@easyctf.com">
<meta name="owner" content="EasyCTF Team">
<meta name="url" content="http://easyctf.com">
<meta name="identifier-URL" content="http://easyctf.com">
<meta name="pagename" content="index.html">
<meta name="category" content="Education">
<meta name="coverage" content="worldwide">
<meta name="distribution" content="global">
<meta name="rating" content="general">
<meta name="revisit-after" content="3 days">
<meta name="subtitle" content="High School Hacking Competition">
<meta name="target" content="all">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="date" content="Dec. 21, 2015">
<meta name="search_date" content="Dec. 21, 2015">
<meta name="medium" content="Online Competition">
<meta http-equiv="Cache-Control" content="no-cache">
